* {
  margin: 0;
  padding: 0
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px red;
}

.userButtons {
  display: flex;
}

.userButtons > div {
  padding: 0 5px
}
